<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <!--css-->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Vibur' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300italic' rel='stylesheet' type='text/css'>
    <link href="/css/shared.css" rel="stylesheet" type="text/css">
    <link href="/css/createEvent.css" rel="stylesheet" type="text/css">
    
    <!--js-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/createEvent.js"></script>
    <script src="/js/shared.js"></script>
    
    <!--content-->
    <div class='title'>
    	SUMMON
    	<div class='home'>
        <a href="/event/main"><img src="/images/home.png"></a>
      </div>
    </div> 
    	
    	
	</head>
	<body>
	<div class = 'banner'>Create Event</div>
      <div class='content container overlay'>
      <br>
			<form method="post" action="/event/confirm">
		      <input type="text" {{type}}= "{{eventTitle}}" name="eventTitle" required></input><br>
		      <input type="text" {{type}}= "{{what}}" name="what" required></input><br>
		      Date and Time: <br>
		      <input type="datetime-local" {{type}}= "{{when}}" STYLE = "color:gray" name="when" required></input><br>
		      <input type="text" {{type}}= "{{where}}" name="where" required></input><br>
		      <input type="text" {{type}}="{{anythingElse}}" name="anythingElse"></input><br>
			  <input class="continue" type="submit" value="Continue"></input>
				</form>
			</div>
		</div>
	</body>
</html>