<!DOCTYPE html>
<html> 
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <!--css-->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Vibur' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300italic' rel='stylesheet' type='text/css'>
    <link href="/css/shared.css" rel="stylesheet" type="text/css">
    <link href="/css/viewEvent.css" rel="stylesheet" type="text/css">
    
    <!--js-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/viewEvent.js"></script>
    <script src="/js/shared.js"></script>
    
    <!--content-->
    <div class='title'>
    	SUMMON 
    	<div class='home'><a href= '/event/main'><img src=/images/home.png></a></div>
    </div> 
    
	</head>
	<body>
		<div class = 'banner'>View Event</div>
    <div class='content'>


      {{#if respond}}
        <div id='pending'></div>
        <div class='head' id='event'>Event Title</div>
        <div class='description' id='event-content'>{{title}}</div>
        <div class='head' id='what'>What</div>
        <div class='description' id='what-content'>{{what}}</div>
        <div class='head' id='when'>When</div>
        <div class='description' id='when-content'>{{when}}</div>
        <div class='head' id='where'>Where</div>
        <div class='description' id='where-content'>{{where}}</div>
        <div class='head' id='anythingElse'>Anything Else?</div>
        <div class='description' id='anythingElse-content'>{{anythingElse}}</div>
        <div class='head' id='attending'>Attending</div>
        <div class='description' id='attending-content'>
          <div align=center>
            {{#if attending.length}}
  						{{#each attending}}
  						  <div>{{this}}</div>
  						{{/each}}
  					{{else}}
  						No one is attending yet.
  					{{/if}}
          </div>   
      	</div>
    	{{else}}
    	    <div class='error'>
    	    OOPS! Event Not Found!
	    	</div>
	    	<br>
	    	<div class='try'>
	    	<a href=/event/addCode>Try Again?</a>
	    	</div>
			{{/if}}
			<br>
      <div align =center id="button"></div>
    </div>

    <script>
			function myFunction() {
				<!--Invalid event-->
				if({{respond}} == 0)
					return "";
				<!--Accepted event-->
				else if({{respond}} == 2)
					return "<form method='post'><input type='hidden' value=3 name='respond'></input><button id='reject' formaction='/event/{{url}}'>Reject</button></form>";
				<!--Declined event-->
				else if({{respond}} == 3)
					return "<form method='post'><input type='hidden' value=2 name='respond'></input><button id='accept' formaction='/event/{{url}}'>Accept</button></form>";
			    else
			      return "<form method='post'><input type='hidden' value=3 name='respond'></input><button id='reject' formaction='/event/{{url}}'>Reject</button></form><form method='post'><input type='hidden' value=2 name='respond'></input><button id='accept' formaction='/event/{{url}}'>Accept</button></form>"; 
			}
			function pendingEvent() {
				<!--Pending event-->
				if({{respond}} == 1)
					return "<div class='pending'>This event is pending.</div>";
				else if({{respond}} == 2)
					return "<div class='accept'>You are attending.</div>"
				else if({{respond}} == 3)
					return "<div class='reject'>You are not attending.</div>"
				return ""
			}
			document.getElementById("button").innerHTML=myFunction();
			document.getElementById("pending").innerHTML=pendingEvent();
		</script>
		<div class='goback'>
	    	<a href= '/event/main' STYLE="text-decoration: none">Back to My Events</a>
		</div>
	</body>
</html>